/* Portrait and Landscape */
@media only screen 
  and (min-width: 280px) 
  and (max-width: 580px)
  {
    h1 {
        font-size: 50px;
        text-align: center;
        margin: 0;
        padding-left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        padding: 50px 0;
    }

    body {
      background-color: #333333;
    }


    h4 {
      margin-top: 5px;
    }

.gun-layout {
  flex-direction: column-reverse;
  border-radius: none;
}

.gun-info {
  width: 100%;
  padding: 15px;
}

.tabs {
  clear: both;
}


.container {
  margin: 10px auto;
}


}



@media screen 
and (min-width: 640px) 
and (max-width: 840px) 
and (orientation: landscape) { 
.gun-info {
font-size: 9px;
}

.avenger-text {
margin: 0;
}

h4 {
font-size: 14px;
margin-top: 10px;
}
 }



 


@media only screen 
  and (min-width: 580px) 
  and (max-width: 1024px)
  {
    .gun-layout img {
      width: 100%;
    }

    .gun-info, .avenger-text {
      font-size: 11px;
    }


    body {
      background-image: url('https://cdn.shopify.com/s/files/1/0169/2814/5472/products/26518_500x500.jpg?v=1569314671');
      background-size: cover;
    }

  }


